@use "./Partials/devices";
// @import "./Partials/carousel";

// .header-section {
//     //height: 1000px;
//     //width: 1000px;
//     //background-color: red;
// }

// THIS WORKS

div {
    height: 100%;
    width: 100%;
}

.nav {
    position: fixed;
    right: 1px;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50vw;
    height: auto;
    z-index: 100;
}

// THIS IS THE TEST

// .nav {
//     top: 0;
//     position: fixed; //Fixing the container removes the padding issue
//     // display: grid;
//     display: flex;
//     justify-content: flex-end;
//     // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
//     // width: 100vw;
//     color: green; // Just to see that everythin is covered
// }

.page-width {
    width: 100vw;
    position:relative;
}

.nav overlay_div {
    visibility: visible;
    opacity: 1;
    transition: all 2s ease-out;
    color: white;
}

.nav a:hover {
    background: white;
    //border: 2px solid black;
    color: black;
    cursor: pointer;
    visibility: visible;
    transition: all 1s ease-in;
}

.stop-overflow {
    overflow-x: hidden;
}

a {
    display: flex;
    justify-content: center;
}
.nav__items {
    // width: 80vw;

    color: white;
    // background-color: black;

    // @include devices.phone {

    // }

    // @include devices.tablet {

    // }

    // @include devices.tablet-landscape {
    // }

    // @include devices.laptop {

    // }

    // @include devices.largest {

    // }
}

// Makes the in page links scroll nice and smoohtly
html,
body {
    scroll-behavior: smooth;
    position:absolute;
    background-color: rgb(170, 203, 21);
    margin: 0;
    padding: 0;
    border: 0;
    width: 100vw;
    height: 100vh;
}

.page-section {
    position: static;
    font-size: 36px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: lime;
    height: 100vh;
    width: 100vw;

    // &--small {
    //         height: 100vh;
    // width: 100vw;
    // }
}

#home {
    background-color: rgb(0, 44, 88);
}
#skills {
    background-color: rgb(0, 88, 176);
}

#projects {
    background-color: rgb(0, 0, 80);
}

#experience {
    background-color: rgb(0, 0, 128);
}

#about {
    background-color: rgb(0, 0, 64);
}

#contact {
    background-color: rgb(0, 0, 32);
}
